---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Blog">
  <h1>Objetos perdidos</h1>
 <p>ESCUELA IDEO</p>
  <div class="blog-post">
  <div class="title">Listado de objetos perdidos</div>
  <div class="content">
          <p></p>
          <p>En esta página web, se van a recoger todos los objetos perdidos que se vayan encontrando curante el curso, con el fin de poder encontrar a los dueños de cada una de las pertenencias.</p>
 </div>
 </div>
</BaseLayout>