---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Blog">
      <h1>Contactos</h1>
      <p>Información de contacto del autor</p>
      <p>Puedes contactarme a través de los siguientes medios:</p>
      <ul>

        <li>Email: ignacio.cordoba@a.escuelaideo.edu.es</li>
        <li>Formulario (por llegar)</li>
      </ul>
</BaseLayout>