---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Blog">
  <h1>Objetos perdidos</h1>
  <div class="list-of-objects">
    <div class="object-datail">
      <div class="object-picture"></div>
      <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis elit non nibh suscipit euismod. Duis faucibus augue quam, sit amet hendrerit augue vehicula nec.
      </div>
    </div>
</div>
</BaseLayout>