---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<div id="menu">
  <!-- Aquí irá el listado de opciones -->
</ul>
<li>
<a href="/objects">Objetos perdidos</a>
</ul>
<li>
<a href="/about">Acerca de</a>
</ul>
<li>
<a href="/blog">Blog</a>
</ul>
<li>
<a href="/contact">Contacto</a>
</li>
</ul>
</div>